.landing {
	background: url("../../assets/images/landing.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
}

.bi {
	font-size: 2rem;
}
