<div class="container text-dark d-flex min-vh-100 flex-column justify-content-center">
	<div class="row justify-content-center mt-0 mt-md-5">
		<div class="col-12 col-md-6 col-lg-4 about-image-overlay mt-5 p-0">
			<p class="fs-4 text-md-end">Exhibitions</p>
		</div>
		<div class="col-10 col-md-6 col-lg-4 about-img-top">
			<img class="img-fluid" src="../../assets/images/collections/oneofakind/energeticreality_m.webp" loading="lazy" decoding="async" />
		</div>
		<div class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-end">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Solo show <strong>MEANING</strong> at India Habitat Center - 2017</li>
				<li class="list-group-item">Group show <strong>SPACES</strong> at Stainless gallery - 2018</li>
				<li class="list-group-item"><strong>Surface 1, Surface 2, Surface 3</strong> at Artbuzz Studios - 2019, 2020, 2022</li>
				<li class="list-group-item"><strong>Master Strokes 2022</strong> at India Habitat Center</li>
				<li class="list-group-item"><strong>Ajala Foundation</strong> at Lokayta Art Gallery</li>
			</ul>
		</div>
	</div>
	<div class="row justify-content-center pt-5">
		<div class="col-12 col-md-6 col-lg-4 about-under-image p-0 opacity-75 position-relative z-n1">
			<img class="img-fluid" src="../../assets/images/about_2.webp" loading="lazy" decoding="async" />
		</div>
		<div class="col-10 col-md-5 col-lg-3">
			<img class="img-fluid mt-5" src="../../assets/images/about_1.webp" loading="lazy" decoding="async" />
		</div>
		<div class="col-12 col-md-6 col-lg-4">
			<p class="h4">Meet The Artist:<br />Rachna Lodha</p>
			<p>
				Rachna Lodha is a graduate from Delhi University and completed Commercial Arts from New Delhi Polytechnic for Women. She has partaken in
				several group shows and workshops. Many of her artworks have been selected in All India Fine Art and Craft Society (AIFACS) exhibitions. Her
				artworks depict her endless trail of thoughts and the freedom of colours. She has been an artist by passion who breaks the boundaries and the
				current understanding that we have of the mediums used in art. Presently, she is practicing art in Delhi.
			</p>
		</div>
	</div>
</div>
