<div class="navbar navbar-light bg-body-transparent fixed-top">
	<div class="container-fluid d-flex">
		<a class="navbar-brand text-reset text-decoration-none" [routerLink]="['/']"><span class="h2">Rachna Lodha</span></a>
		<button class="navbar-toggler border-0 rounded-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#sideNav" aria-controls="sideNav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="offcanvas offcanvas-end bg-light" tabindex="-1" id="sideNav" aria-labelledby="sideNavLabel">
			<div class="offcanvas-header justify-content-end">
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<div class="navbar-nav justify-content-end flex-grow-1">
					<a class="nav-item nav-link" [routerLink]="['/gallery']" routerLinkActive="active">Gallery</a>
					<a class="nav-item nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a>
					<a class="nav-item nav-link" [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
				</div>
			</div>
		</div>
	</div>
</div>
