@media only screen and (max-width: 600px) {
	.offcanvas {
		--bs-offcanvas-width: 50vw;
	}
}

.navbar-toggler {
	font-size: 1.75em;
}

.navbar-toggler span {
	--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(0,0,0,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.navbar-light.bg-light {
	--bs-bg-opacity: 0.25;
}
